<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIS MASCOTAS</title>
    <link rel="stylesheet" href="/src/css/mascotas.css">
</head>
<body>
    <section class="mascotas">

    <h2 class="mascotas-titulo">Mis Mascotas</h2>

    <div class="grid-mascotas">

        <article class="card-mascota">
            <img src="/public/img/natu.jpg" alt="Lorenzo">
            <h3>San Pedro Sucre</h3>
        <p>Amor por la Naturaleza y más cuando es de visita en finca familiar atesorando esos momentos</p>
        </article>

        <article class="card-mascota">
            <img src="/public/img/caballo.jpg" alt="Luna">
            <h3>Café</h3>
               <p>Amor por la Naturaleza y más cuando es de visita en finca familiar atesorando esos momentos</p>
          
        </article>

        <article class="card-mascota">
            <img src="/public/img/caballo1.jpg" alt="Max">
            <h3>Mancha</h3>
                <p>Mancha me gusta montar en el y pasear en esos atardeceres del campo</p>
          
        </article>

        <article class="card-mascota">
            <img src="/public/img/caballo3.jpeg" alt="Canela">
            <h3>Mis 28 con Tony</h3>
                  <p>Mancha me gusta montar en el y pasear en esos atardeceres del campo</p>
  
        </article>

        <article class="card-mascota">
            <img src="/public/img/caballo4.jpeg" alt="Rocky">
            <h3>Blanca</h3>
        <p>Es una yegua la más viejita de la finca pero también me gusta montar en ella </p>
        </article>

        <article class="card-mascota">
            <img src="/public/img/lorenzo.jpeg" alt="Nube">
            <h3>Lorenzo</h3>
              <p>Lorenzo hace parte de la familia por mucho tiempo</p>
          
        </article>

    </div>

</section>
</body>
</html>