<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/mascotas.css">

</head>

<body>
    <main>
    <div class="mascotas-titulo">
        <h1>Galería</h1>
    </div>
    <section class="mascotas-container">
        <article class="mascotas-container-card">
            <div class="contenedor-img">
                <img src="/public/img/paisaje.jpeg" alt="Amor por el campo">
            </div>
            <div class="mascotas-text">
                <span>Nombre: mascota</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui officia in molestias facere accusamus fugit ea doloremque eaque deserunt cum ducimus voluptate id excepturi ratione adipisci fuga voluptatem, eum sed.
            </div>
        </article>
        <article class="mascotas-container-card">
            <div class="contenedor-img">
                <img src="/public/img/caballo.jpg" alt="Amor por el campo">
            </div>
            <div class="mascotas-text">
                <span>Nombre: mascota</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui officia in molestias facere accusamus fugit ea doloremque eaque deserunt cum ducimus voluptate id excepturi ratione adipisci fuga voluptatem, eum sed.
            </div>
        </article>
        <article class="mascotas-container-card">
            <div class="contenedor-img">
                <img src="/public/img/caballo1.jpg" alt="Amor por el campo">
            </div>
            <div class="mascotas-text">
                <span>Nombre: mascota</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui officia in molestias facere accusamus fugit ea doloremque eaque deserunt cum ducimus voluptate id excepturi ratione adipisci fuga voluptatem, eum sed.
            </div>
        </article>
        <article class="mascotas-container-card">
            <div class="contenedor-img">
                <img src="/public/img/caballo3.jpeg" alt="Amor por el campo">
            </div>
            <div class="mascotas-text">
                <span>Nombre: mascota</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui officia in molestias facere accusamus fugit ea doloremque eaque deserunt cum ducimus voluptate id excepturi ratione adipisci fuga voluptatem, eum sed.
            </div>
        </article>
        <article class="mascotas-container-card">
            <div class="contenedor-img">
                <img src="/public/img/caballo4.jpeg" alt="Amor por el campo">
            </div>
            <div class="mascotas-text">
                <span>Nombre:</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui officia in molestias facere accusamus fugit ea doloremque eaque deserunt cum ducimus voluptate id excepturi ratione adipisci fuga voluptatem, eum sed.
            </div>
        </article>
        <article class="mascotas-container-card">
            <div class="contenedor-img">
                <img src="/public/img/lorenzo.jpeg" alt="Amor por el campo">
            </div>
            <div class="mascotas-text">
                <span>Nombre:Lorenzo</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui officia in molestias facere accusamus fugit ea doloremque eaque deserunt cum ducimus voluptate id excepturi ratione adipisci fuga voluptatem, eum sed.
            </div>
        </article>
    </section>
    <section>
        <a href="/index.html" class="btn-link">Ir al Menu
            de Inicio</a>
    </section>
    </main>
</body>

</html>