<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/mascotas.css">

</head>

<body>
    <div class="contenedor-titulo">
        <h1>Mi galería de fotos</h1>
    </div>
    <section>
        <div class="Contenedor-img">
            <img src="/public/img/paisaje.jpeg" alt="Amor por el campo">
            <p>El departamento de Sucre se distingue por la belleza de sus paisajes, donde la naturaleza y la
                tranquilidad
                se
                entrelazan en perfecta armonía. Sus sabanas extensas, bañadas por la luz cálida del sol, reflejan la
                riqueza
                natural y cultural de la región. Cada rincón guarda una esencia única: el murmullo del viento entre los
                árboles,
                el canto de las aves y la vida que florece en sus campos.
            </p>
            <img src="/public/img/caballo.jpg" alt="Amor por los caballos">
            <p>El amor por los caballos es libertad, fuerza y conexión con el alma</p>
            <img src="/public/img/caballo1.jpg" alt=" Amor por los caballos">
            <p>Cada instante en el campo significa mucho para mí, y aún más con cada cabalgata junto a los caballos.</p>
            <img src="/public/img/caballo3.jpeg" alt=" Honor a mis 28 años">
            <p>Esta imagen fue en honor a mis 28 años. Quise que fuera una sesión de fotos con un caballo, ya que amo
                montar
                y
                es uno de los hobbies que más me conecta con la naturaleza
            </p>
            <img src="/public/img/caballo4.jpeg" alt="Amor por los caballos ">
            <p>
                <img src="/public/img/lorenzo.jpeg" alt="Lorenzo">
            </p>
            <p>Lorenzo es un loro que hace parte de mi familia desde hace varios años. Nos ha acompañado en muchos
                momentos
                y
                sentimos un gran amor por él
            </p>
        </div>
    </section>







    <section>
        <a href="/index.html" class="btn-link">Ir al Menu
            de Inicio</a>
    </section>
</body>

</html>