
.contacto {
    padding: 80px 20px;
    background: var(--color-background);
    display: flex;
    justify-content: center;
}


.contacto-container {
    width: 100%;
    max-width: 600px;
    background: var(--white);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}


.contacto-titulo {
    text-align: center;
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 10px;
}


.contacto-subtitulo {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}


.contacto-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    font-family: inherit;
    transition: 0.3s;
}


.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 5px rgba(0, 138, 170, 0.3);
}

.btn-enviar {
    margin-top: 10px;
    padding: 12px;
    background: var(--color-primary);
    color: var(--white);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}


.btn-enviar:hover {
    background: var(--color-terceary);
    transform: scale(1.05);
}