
.mascotas {
    padding: 80px 20px;
    background: var(--color-background);
    text-align: center;
}


.mascotas-titulo {
    font-size: 2.2rem;
    color: var(--color-primary);
    margin-bottom: 40px;
    background-color: #D1884F;;
}


.grid-mascotas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}


.card-mascota {
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}


.card-mascota:hover {
    transform: translateY(-8px);
}


.card-mascota img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card-mascota h3 {
    color: var(--color-secundary);
    margin-bottom: 10px;
}


.card-mascota p {
    font-size: 0.95rem;
    color: #555;
}


@media (max-width:768px){
.grid-mascotas{
display: grid;
grid-template-columns: 1fr;


}



}

